<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Mahasiswa Management</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onOpenModal('add');">Tambah Mahasiswa <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input (ngModelChange)="onSearchMahasiswa(param.value)" #param="ngModel" ngModel class="form-control mr-sm-2" type="search" name="param" placeholder="Cari mahasiswa..." aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Cari</button>
    </form>
  </div>
</nav>
<div class="container top20" id="main-container">
    <div class="row">
      <div class="col-lg-12 col-xl-12">

        <div *ngFor="let m of mahasiswa">
          <div class="card m-b-30">
            <div class="card-body row">
                <div class="col-6">
                    <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                </div>
                <div class="col-6 card-title align-self-center mb-0">
                    <h5>{{m.nama}}</h5>
                    <p class="m-0">{{m.jurusan}}</p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">NIM: {{m.nim}}</li>
            </ul>
            <div class="card-body">
                <div class="float-right btn-group btn-group-sm">
                    <a href="#" (click)="onOpenModal('update', m);" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a href="#" (click)="onOpenModal('delete', m);" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>
                <ul class="social-links list-inline mb-0">
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="GitHub"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="addMahasiswaModal" tabindex="-1" role="dialog" aria-labelledby="addMahasiswaModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMahasiswaModalTitle">Tambah Mahasiswa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form #addForm="ngForm" (ngSubmit)="onAddMahasiswa(addForm)">
            <div class="modal-body">
                <div class="form-group">
                  <label for="nama">Nama</label>
                  <input required ngModel name="nama" type="text" class="form-control" id="nama" placeholder="Masukan nama mahasiswa...">
                </div>

                <div class="form-group">
                  <label for="nim">NIM</label>
                  <input required ngModel name="nim" type="number" class="form-control" id="nim" aria-describedby="nimHelp" placeholder="Masukan NIM...">
                  <small id="nimHelp" class="form-text text-muted">NIM tidak boleh sama dengan yang lain.</small>
                </div>

                <div class="form-group">
                  <label for="jurusan">Jurusan</label>
                  <select required ngModel name="jurusan" class="form-control" id="jurusan">
                    <option value="Teknik Informatika" selected>Teknik Informatika</option>
                    <option value="Sistem Informasi">Sistem Informasi</option>
                    <option value="Bisnis Digital">Bisnis Digital</option>
                  </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="tutupButtonAddMahasiswaModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="updateMahasiswaModal" tabindex="-1" role="dialog" aria-labelledby="updateMahasiswaModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Mahasiswa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #updateForm="ngForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="id">ID Mahasiswa</label>
              <input ngModel="{{updateMahasiswa?.id}}" name="id" type="text" class="form-control" id="id" placeholder="ID Mahasiswa" disabled>
            </div>  

            <div class="form-group">
              <label for="nama">Nama</label>
              <input ngModel="{{updateMahasiswa?.nama}}" name="nama" type="text" class="form-control" id="nama" placeholder="Masukan nama mahasiswa...">
            </div>

            <div class="form-group">
              <label for="nim">NIM</label>
              <input ngModel="{{updateMahasiswa?.nim}}" name="nim" type="number" class="form-control" id="nim" aria-describedby="nimHelp" placeholder="Masukan NIM...">
              <small id="nimHelp" class="form-text text-muted">NIM tidak boleh sama dengan yang lain.</small>
            </div>

            <div class="form-group">
              <label for="jurusan">Jurusan</label>
              <select ngModel="{{updateMahasiswa?.jurusan}}" name="jurusan" class="form-control" id="jurusan">
                <option value="Teknik Informatika" selected>Teknik Informatika</option>
                <option value="Sistem Informasi">Sistem Informasi</option>
                <option value="Bisnis Digital">Bisnis Digital</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button id="tutupButtonUpdateMahasiswaModal" type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button (click)="onUpdateMahasiswa(updateForm.value)" type="button" class="btn btn-primary">Simpan</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteMahasiswaModal" tabindex="-1" role="dialog" aria-labelledby="deleteMahasiswaModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Apakah kamu yakin akan menghapus {{deleteMahasiswa?.nama}}?
          </div>
          <div class="modal-footer">
            <button (click)="onDeleteMahasiswa(deleteMahasiswa!.id)" type="button" class="btn btn-danger">Ya</button>
            <button id="tutupButtonDeleteMahasiswaModal" type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          </div>
        </div>
      </div>
    </div>

    <blockquote class="blockquote">
      <p class="mb-0">Big Data, Sekolah Tinggi Teknologi Terpadu Nurul Fikri 2022</p>
      <footer class="blockquote-footer">Imam Haromain, <cite title="Source Title">S. Kom, M. Kom</cite></footer>
    </blockquote>
</div>
